<div class="bg-white dark:bg-stone-800 rounded-lg shadow-sm p-4">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-medium">Weekly Schedule</h2>

    <div>
        <button
        class="px-4 py-2 mr-2 bg-emerald-800 text-white rounded-md hover:bg-emerald-500"
        (click)="createSchedule()">
        Generate New Schedule
        </button>
        <button
        class="px-4 py-2 bg-red-800 text-white rounded-md hover:bg-red-500"
        (click)="clearSchedule()"
        [disabled]="slots.length !== 0">
        Clear Schedule
        </button>
    </div>
  </div>

  @if (loading()) {
    <div class="grid grid-cols-7 gap-3 animate-pulse">
      @for (i of [1,2,3,4,5,6,7]; track i) {
        <div class="h-40 bg-stone-200 dark:bg-stone-700 rounded"></div>
      }
    </div>
  } @else {
    <div class="grid grid-cols-7 gap-3">
      @for (day of days; track day) {
        <div class="bg-stone-50 dark:bg-stone-700 rounded-md p-2">
          <h3 class="text-xs font-semibold text-center mb-2">{{ day }}</h3>

          @for (slot of grouped()[day]; track slot.id) {
            <div
              class="mb-2 px-2 py-1 rounded-md text-sm bg-white dark:bg-stone-800 border-l-4"
              [class.opacity-50]="slot.status === 2"
              [style.borderColor]="getStatusColor(slot.status)">

                <div class="flex justify-between items-center font-medium">
                    <p [class.line-through]="slot.status == 1">{{ slot.habitName }}</p>
                    <button
                        class="text-xs text-stone-400 hover:text-red-500"
                        (click)="delete(slot.id)">
                        ✕
                    </button>
                </div>
                <div class="text-xs text-stone-500">{{ formatTime(slot.startTime) }}</div>
                
                @if (slot.status === 0) {
                    <div
                    class="flex justify-between items-center px-3 py-2 rounded-md bg-stone-50 dark:bg-stone-700">
                        <button
                            class="text-xs text-green-500 hover:underline disabled:opacity-40"
                            [disabled]="slot.status !== 0"
                            (click)="complete(slot.id)">
                            Complete
                        </button>
                        
                        <button
                            class="text-xs text-red-500 hover:underline disabled:opacity-40"
                            [disabled]="slot.status !== 0"
                            (click)="miss(slot.id)">
                            Miss
                        </button>
                    </div>
                } 
                @if (slot.status === 2) {
                    <button
                        class="text-xs text-green-500 hover:underline disabled:opacity-40"
                        [disabled]="slot.status !== 2"
                        (click)="reschedule(slot.id)">
                        Reschedule
                    </button>
                }

            </div>
          }
        </div>
      }
    </div>
  }
</div>